
    
    


<div class="small-container">
    <div class="row row-2">
        <h2>All Products</h2>
        <select>
            <option>Default sorting</option>
            <option>sort by price</option>
            <option>sort by popularity</option>
            <option>sort by rating</option>
            <option>sort by sale</option>
        </select>
        <ul class="select">
            <li>select category</li>
            <li><a href="shopping">Men's wear</a></li>
            <li><a href="women">Women</a></li>
            <li><a href="girl">Kids-Girl</a></li>
            <li><a href="boy">Kids-Boy</a></li>
        </ul>
    </div>
    
    <div class="row">
        <div class="col-4">
            <a href="ProductDetails.html"><img src="assets\shirt1.webp"></a>
            <h4>Men's Cotton Casual Regular Fit Checks Shirt for Men Full Sleeves</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
                <i class="fa fa-star-o"></i>
                
                
            </div>
            <p>₹1000</p>
            <div class="count">Quantity:
                <input type="number" value="1"></div>
        </div>
        <div class="col-4">
            <img src="assets\women.webp">
            <h4>green-shirt</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
                
            </div>
            <p>₹800</p>
            <div class="count">Quantity:
                <input type="number" value="1"></div>
        </div>
        <div class="col-4">
            <img src="assets\product3.jpg">
            <h4>pink-shirt</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>₹700</p>
            <div class="count">Quantity:
                <input type="number" value="1"></div> 
</div>
<div class="col-4">
    <img src="assets\boy.webp">
    <h4>pancha</h4>
    <div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-half-o"></i>
    </div>
    <p>₹500</p>
    <div class="count">Quantity:
        <input type="number" value="1"></div>
    </div>
    </div>
    <div class="row">
        <div class="col-4">
            <img src="assets\girl.webp">
            <h4>Plazo set</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
                
            </div>
            <p>₹500</p>
            <div class="count">Quantity:
                <input type="number" value="1"></div>
        </div>
        <div class="col-4">
            <img src="assets\women1.webp">
            <h4>green-shirt</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div>
            <p>₹1000</p>
            <div class="count">Quantity:
                <input type="number" value="1"></div>
        </div>
        <div class="col-4">
            <img src="assets\women2.webp">
            <h4>checks-shirt</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div>
            <p>₹800</p>
            <div class="count">Quantity:
                <input type="number" value="1"></div>
    </div>
      
    <div class="col-4">
    <img src="assets\pant1.webp">
    <h4>pant</h4>
    <div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
    </div>
    <p>₹500</p>
    <div class="count">Quantity:
        <input type="number" value="1"></div>
    </div>
      </div>
    
    <div class="row">
        <div class="col-4">
            <img src="assets\women3.webp">
        
            <h4></h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
                
            </div>
            <p>₹1000</p>
            <div class="count">Quantity:
                <input type="number" value="1"></div>  
        
    </div>
        <div class="col-4">
            <img src="assets\shirt2.webp">
            <h4>green-shirt</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
            </div>
            <p>₹1000</p>
            <div class="count">Quantity:
                <input type="number" value="1"></div> 
        </div>
        <div class="col-4">
            <img src="assets\shirt3.webp">
            <h4>chucks-shirt</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div>
            <p>₹1000</p>
            
        </div>
        <div class="col-4">
            <img src="assets\women5.webp">
            <h4>white T-shirt</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div>
            <p>₹1000</p>
            
        </div>
    </div>
    <div class="pagebtn">
        <span>1</span>
        <span>2</span>
        <span>3</span>
        <span>4-></span>
        <!-- <span>&#8594</span> -->
    </div>
      </div>
  
       

  


