<div class="container">
    <div class="small-container">
        <div class="row row-2">
            <h2>All Products</h2>
            <select>
                <option>Default sorting</option>
                <option>sort by price</option>
                <option>sort by popularity</option>
                <option>sort by rating</option>
                <option>sort by sale</option>
            </select>
            <ul class="select">
                <li>select category</li>
                <li><a href="shopping">Men's wear</a></li>
                <li><a href="women">Women</a></li>
                <li><a href="girl">Kids-Girl</a></li>
                <li><a href="boy">Kids-Boy</a></li>
            </ul>
        </div>
        
        <div class="row">
            <div class="col-4">
                <a href="clickimgboy"><img src="assets\fig1.webp"></a>
                <h4>superminis</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                    <i class="fa fa-star-o"></i>
                    
                    
                </div>
                <br>
                <b><p>Price:₹600</p></b>
                
                
            </div>
            <div class="col-4">
                <img src="assets\img2.jpg">
                <h4>Bold N Elegant</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                    
                </div>
                <br>
                <b><p>Price:₹599</p></b>
                
                
            </div>
            <div class="col-4">
                <img src="assets\img3.jpg">
                <h4>Hestia</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <br>
                <b><p>Price:₹404</p></b>
                
                
    </div>
    <div class="col-4">
        <img src="assets\img4.jpg">
        <h4>Generic</h4>
        <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
        </div>
        <br>
        <b><p>Price:₹509</p></b>
        
        </div>
        </div>
        <div class="row">
            <div class="col-4">
                <img src="assets\img5.jpg">
                <h4>BHOOLKU</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    
                </div>
                <br>
                <b><p>Price:₹704</p></b>
                
                
            </div>
            <div class="col-4">
                <img src="assets\img6.jpg">
                <h4>AMIRTHA FASHION</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <br>
                <b><p>Price:₹499</p></b>
               
                
            </div>
            <div class="col-4">
                <img src="assets\img7.webp">
                <h4>Hopscotch</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <br>
                <b><p>Price:₹1400</p></b>
                
        </div>
          
        <div class="col-4">
        <img src="assets\img8.webp">
        <h4>Hopscotch</h4>
        <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <br>
            <b><p>Price: ₹786</p></b>
        </div>
          </div>
        
        <div class="row">
            <div class="col-4">
                <img src="assets\img9.webp">
            
                <h4>Bold N Elegant - Be Bold</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    
                </div>
                <br>
                <b><p>Price: ₹899</p></b>
                
            
        </div>
            <div class="col-4">
                <img src="assets\img10.webp">
                <h4>PK HUB</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                </div>
                <br>
                <b><p>Price: ₹599</p></b>
                
            </div>
            <div class="col-4">
                <img src="assets\img11.webp">
                <h4>Bold N Elegant</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <br>
                <b><p>Price:₹500</p></b>
                
            </div>
            <div class="col-4">
                <img src="assets\img12.jpg">>
                <h4>ARIEL</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <br>
                <b><p>Price:₹799</p></b>
                
            
        </div>
        <div class="pagebtn">
            <span>1</span>
            <span>2</span>
            <span>3</span>
            <span>4</span>
           
        </div>
          </div>
