
<div class="main">
<div class="bg">
    <img src="assets\bg.jpg" height=" 700vh"width="1600px">
</div>
<div class="categories">
    <div class="small-container">
        <h2 class="title">categories</h2>
    <div class="row">
        <div class="col-3">
            <img src="assets\chips.png"></div>
            <div class="col-3">
                <img src="assets\th.jpg">
            
        </div>
        <div class="col-3">
            <img src="assets\web.webp">
        </div>
        <div class="col-3">
            <img src="assets\elecgadgets.jpg">
        </div>
        <div class="col-3">
            <img src="assets\online.jpg">
        </div>
    </div>
    </div>
</div>
<div class="small-container">
    <h2 class="title">Featured Products</h2>
    <div class="row">
        <div class="col-4">
            <img src="assets\card2.png">
            <h4>Sofa</h4>
            <p>Price:₹1000</p>
            <div class="count">Quantity:
                <input type="number" value="1"></div>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
                <i class="fa fa-star-o"></i>
                
                
            </div>
            
            <a href=""class="btn">Add Cart</a>
            
        </div>
        <div class="col-4">
            <img src="assets\elc1.webp">
            <h4>Electronic Writing Slate Pad</h4>
            <p>Price:₹500</p>
            <div class="count">Quantity:
                <input type="number" value="1"></div>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
                
            </div>
            
            <a href=""class="btn">Add Cart</a>
            
        </div>
        <div class="col-4">
            <img src="assets\shirt.jpg">
            <h4>pink-shirt</h4>
            <p>Price:₹600</p>
            <div class="count">Quantity:
                <input type="number" value="1"></div>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            
            <a href=""class="btn">Add Cart</a>
            
</div>
<div class="col-4">
    <img src="assets\choco.jpg">
    <h4>DiaryMilk</h4>
    <p>Price:₹400</p>
            <div class="count">Quantity:
                <input type="number" value="1"></div>
    <div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-half-o"></i>
    </div>
    
    <a href=""class="btn">Add Cart</a>
    </div>
    </div>

  <h2 class="title">latest Products</h2>  
  <div class="row">
    <div class="col-4">
        <img src="assets\cal.webp">
        <h4>Casio MC-12M Shop Calculator</h4>
        <p>Price:₹1500</p>
            <div class="count">Quantity:
                <input type="number" value="1"></div>
        <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
            
        </div>
       
        <a href=""class="btn">Add Cart</a>
        
    </div>
    <div class="col-4">
        <img src="assets\card4.png">
        <h4>Modren chair</h4>
        <p>Price:₹5000</p>
            <div class="count">Quantity:
                <input type="number" value="1"></div>
        <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
        </div>
       
        <a href=""class="btn">Add Cart</a>
    </div>
    <div class="col-4">
        <img src="assets\card8.png">
        <h4>Hanging Chair</h4>
        <p>Price:₹2000</p>
            <div class="count">Quantity:
                <input type="number" value="1"></div>
        <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
        </div>
        
        <a href=""class="btn">Add Cart</a>
</div>
  
<div class="col-4">
<img src="assets\bis.webp">
<h4>Oreo</h4>
<p>Price:₹500</p>
            <div class="count">Quantity:
                <input type="number" value="1"></div>
<div class="rating">
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
</div>

<a href=""class="btn">Add Cart</a>
</div>
  </div>

<div class="row">
    <div class="col-4">
        <img src="assets\bis1.webp">
    
        <h4>Sunfeast 5-Grain Digestive</h4>
        <p>Price:₹100</p>
            <div class="count">Quantity:
                <input type="number" value="1"></div>
        <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
            
        </div>
        
        <a href=""class="btn">Add Cart</a>
    
</div>
    <div class="col-4">
        <img src="assets\product2.jpg">
        <h4>green-shirt</h4>
        <p>Price:₹600</p>
            <div class="count">Quantity:
                <input type="number" value="1"></div>
        <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
        </div>
       
        <a href=""class="btn">Add Cart</a>
    </div>
    <div class="col-4">
        <img src="assets\card5.png">
        <h4>Chair</h4>
        <p>Price:₹3000</p>
            <div class="count">Quantity:
                <input type="number" value="1"></div>
        <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
        </div>
       

        <a href=""class="btn">Add Cart</a>
    </div>
    <div class="col-4">
        <img src="assets\product3.jpg">
        <h4>pink-shirt</h4>
        <p>Price:₹400</p>
            <div class="count">Quantity:
                <input type="number" value="1"></div>
        <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
        </div>
        
        <a href=""class="btn">Add Cart</a>
    </div>
</div>
  </div>
</div>
  