<div class="header">
    <div class="container">

    
     <div class="navbar">
         <div class="logo">
            <img src="assets\logo.jpg"width="80px" >
          </div>
          <nav>
            <ul id="menuitems">
                
                <i class="fa fa-search">
                <input type="text"placeholder="Search..."></i>
                <li><a routerLink="/home">home</a></li>
               
                <li><a routerLink="/about">About</a></li>
                <li class="dropdown">
                  <a a routerLink="/home">Categories</a>
                  <ul class="dropdown-content">
                    <li><a href="allproductshopcloth">TrendyOutfit</a></li>
                    <li><a href="#">PackedFood</a></li>
                    <li><a href="#">Grocesry</a></li>
                    <li><a href="electronics">ElectronicGadgets</a></li>
                    <li><a href="#">Furniture</a></li>
                  </ul>
                </li>
               
                <!-- <li><a routerLink="/home">Categories</a></li> -->
                <li><a routerLink="/register">Sign-Up</a></li>
                <li><a routerLink="/login">Login</a></li>

               
                
            </ul>
          </nav>
         <a href="shoppingCart.html"><img src="assets\shopping-bag.png"></a>
        </div>
    </div>
</div>
