<!----single product details-------->

<div class="small-container single-product">
    <div class="row">
       <div class="col-2">
           <img src="assets\fig1.webp"width="100%" id="ProductImg">
           
           </div> 
           <br>       
        
         
         <div class="col-2">
           <!-- <p>home / Shirt</p> -->
           <h1>COTTBRAY</h1>
         
         <br><br>

          <h5>Quantity:
          <input type="number"value="1"></h5>
          <a href=""class="btn">Add to cart</a>
          <h3>Product details<i class="fa fa-indent"></i></h3><br>
         <p>Material type:-Polycotton<br> Fit type:-Regular<br>Style:-Casual<br>Theme:-Fashion<br> Closure type:-Pull On<br> Care instructions:-Hand Wash Only<br>
          Country of Origin:-India.</p>
     </div>
   </div>

<!------title----->
<div class="small-container">
 <div class="row row-2">
     <h2>Related Products</h2>
     <p>View more</p>
 </div>
</div>


<div class="small-container">
 
 
 <div class="row">
     <div class="col-4">
         <img src="assets/fig2.webp">
         <h4>CAVIO</h4>
         <div class="rating">
             <i class="fa fa-star"></i>
             <i class="fa fa-star"></i>
             <i class="fa fa-star"></i>
             <i class="fa fa-star-half-o"></i>
             <i class="fa fa-star-o"></i>
             
             </div>
             <br>
     <b><p>Price:₹807</p></b>
     <div class="count">Quantity:
      <input type="number" value="1"></div>        
         
         
     </div>
     <div class="col-4">
         <img src="assets/fig3.webp">
         <h4>Googo Gaaga</h4>
         <div class="rating">
             <i class="fa fa-star"></i>
             <i class="fa fa-star"></i>
             <i class="fa fa-star"></i>
             <i class="fa fa-star"></i>
             <i class="fa fa-star-half-o"></i>
             
         </div>
         <br>
     <b><p>Price:₹560</p></b>
     <div class="count">Quantity:
      <input type="number" value="1"></div>   
         
     </div>
     <div class="col-4">
         <img src="assets/fig4.webp">
         <h4>Hopscotch</h4>
         <div class="rating">
             <i class="fa fa-star"></i>
             <i class="fa fa-star"></i>
             <i class="fa fa-star"></i>
             <i class="fa fa-star"></i>
             <i class="fa fa-star-o"></i>
         </div>
         <br>
       <b><p>Price:₹841</p></b>
       <div class="count">Quantity:
          <input type="number" value="1"></div>
         
</div>
<div class="col-4">
  <img src="assets/fig5.webp">
  <h4>Bold N Elegant - Be Bold</h4>
  <div class="rating">
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star-half-o"></i>
  </div>
  <br>
  <b><p>Price:₹639</p></b>
  <div class="count">Quantity:
      <input type="number" value="1"></div>
  </div>
  
  
<div class="col-4">
  <img src="assets/fig6.webp">
  <h4>GOOGO GAAGA</h4>
  <div class="rating">
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star-o"></i>
  </div>
  <br>
<b><p>Price:₹580</p></b>
<div class="count">Quantity:
  <input type="number" value="1"></div>
  
  
</div>
<div class="col-4">
  <img src="assets/fig7.webp">
  <h4>Googo Gaaga</h4>
  <div class="rating">
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star-o"></i>
  </div>
  <br>
<b><p>Price:₹400</p></b>
<div class="count">Quantity:
  <input type="number" value="1"></div>
  
</div>
<div class="col-4">
  <img src="assets/fig8.webp">
  <h4>Hopscotch</h4>
  <div class="rating">
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star-o"></i>
  </div>
  <br>
<b><p>Price:₹415</p></b>
<div class="count">Quantity:
  <input type="number" value="1"></div>
  
</div>
<div class="col-4">
 <img src="assets/fig9.webp">
 <h4>Bold N Elegant - Be Bold</h4>
 <div class="rating">
     <i class="fa fa-star"></i>
     <i class="fa fa-star"></i>
     <i class="fa fa-star"></i>
     <i class="fa fa-star"></i>
     <i class="fa fa-star-half-o"></i>
 </div>
 <br>
 <b><p>Price: ₹592</p></b>
 <div class="count">Quantity:
  <input type="number" value="1"></div>
 </div>
 <div class="col-4">
  <img src="assets/fig10.webp">
  <h4>LuvLap</h4>
  <div class="rating">
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star-half-o"></i>
  </div>
  <br>
  <b><p>Price: ₹647</p></b>
  <div class="count">Quantity:
   <input type="number" value="1"></div>
  </div>
  <div class="col-4">
    <img src="assets/fig11.webp">
    <h4>Kuchipoo</h4>
    <div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-half-o"></i>
    </div>
    <br>
    <b><p>Price: ₹646</p></b>
    <div class="count">Quantity:
     <input type="number" value="1"></div>
    </div>
    <div class="col-4">
      <img src="assets/fig12.webp">
      <h4>ARIEL</h4>
      <div class="rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-half-o"></i>
      </div>
      <br>
      <b><p>Price: ₹800</p></b>
      <div class="count">Quantity:
       <input type="number" value="1"></div>
      </div>
